*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding-main: 1.5rem;
  --text-color: #333;
  --title-color: #006989;
  --title-size: 2.5rem;
  --text-small-size: 2rem;
}

body {
  
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  
  
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
  
}

main {
  /* box-sizing: border-box; */
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  padding-top: var(--padding-main);

 
}

header {
  background-color: #006989;
  margin-bottom: 1.5rem;
 
}

/* navBar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navBar .nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navBar .logo .link,
.navBar .nav-menu li .link {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-icon-mobile {
  display: none;
}

/* .blog .image {
  height: 80vh;
  width: 100%;
  border-radius: .2rem;

} */

.title {
  font-size: var(--title-size);
  color: var(--title-color);
  text-align: justify;
}

.description {
  text-align: justify;
}

.home-wrapper {
  width: 100%;
 padding-bottom: 2rem;
  
}
/* blogclick css */
.wrapper {
  position: relative;
  margin-bottom: 2.5rem;
  background-color: #006989;
 
}

.wrapper .post {
  display: flex;
  flex-direction: row;

  gap: 20px;
}


.wrapper .post .image {
  height: 15rem;
  flex: 0.9;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;

}

.wrapper .post .image img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.post .texts {
  flex: 1;
  padding: .5rem;
}

.post .texts h2 {
  margin: 0;
}

.info {
  margin: 5px 0;
  color: #888;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
}

.post .texts .summary {
  margin: 5px 0;
  text-align: justify;
  line-height: 1.4rem;
}
.wrapper .links {
  text-decoration: none;
  color: inherit;
}
/* .mobile,
.inactive {
  display: none;

} */

/* .mobile-menu-link {
  display: none;
} */
/* login  */
.login-div {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login-div .Form-div {
  border: 0.2rem solid grey;
  display: flex;
  flex-direction: column;

  padding: 1rem;
  width: 400px;
}
.Form-div h2 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

.Form-div .input-div {
  display: flex;
  border-bottom: 0.5px solid gray;
  justify-content: start;

  width: 100%;
  height: 30px;
  margin-bottom: 0.5rem;
}
.Form-div .input-div input {
  flex: 1;
  margin-bottom: 0;
  border: none;
  outline: none;
  inset: 0;
}
.Form-div .input-div input:focus {
  border-bottom: 0.1rem solid grey;
  outline: none;
}

.Form-div .button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Form-div .button-div button,
.createBlog form button {
  width: 50%;
  height: 3rem;
  cursor: pointer;
  transition: background-color 1s;
  margin-top: 1.5rem;
}
.Form-div .button-div button:hover,
.createBlog form button:hover {
  background-color: #888;
  border: none;
  outline: none;
  color: white;
  border-radius: 0.1rem;
}
.error {
  color: rgb(173, 28, 28);
}
/* input:invalid[focused="true"] ~ .error{
  display: block;
} */

.text {
  color: grey;
  text-align: center;
  padding-top: 1rem;
}
.text span {
  text-decoration: underline;
  color: #006989;
}
/* create blog page */
h3 {
  text-align: center;
}
.createBlog {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
}

.createBlog form .create-input {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.createBlog form .create-input input {
  width: 100%;
  height: 100%;
}
.createBlog form .post {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* content page */
.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: start;
  align-items: start;
  
  padding-bottom: 4rem;
}
.content .content-image {
  max-height: 25rem;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.content .content-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.content .main-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ; */
}
.content .main-content img {
  height: 450px;
  width: 450px;
  position: relative;
  left: 25%;
  /* left: 15rem; */
}
.content .main-content p {
  text-align: justify;
  line-height: 1.4rem;
  
}
.content .buttons{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  
  justify-content: end;
  align-items: flex-end;

  gap: 2rem;
  height: 2rem

}

.content .buttons button{
  width: 13%;
  height: 100%;
  border-radius: .2rem;
  border:none;
  outline: none;
  cursor: pointer;
}

.content .buttons .update{
  border:.1rem solid #006989;
  color: #006989;
  
}

.content .buttons .update:hover{
    background-color: #006989;
    color: white;
}
.content .buttons .delete{
  border:.1rem solid red;
  color: red;
  
}
.content .buttons .delete:hover{
    background-color: red;
    color: white;
}
@media only screen and (max-width: 600px) {
  header {
    margin-bottom: 1.5rem;
 
  }

  .nav-icon-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }

  .navBar .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 40px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    height: 100vh;
    padding-top: 2rem;
    align-items: center;
    justify-content: start;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  
  }

  .blog .image {
    height: 100vh;
    width: 40rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .description {
    font-size: 2rem;
  }

  .wrapper .post {
    display: flex;
    flex-direction: column;
  }

  header nav {
    display: none;
  }

  .mobile {
    display: block;
  }
  
  .content .main-content img {
    height: 350px;
    width: 350px;
    position: relative;
    left: 10%;
    /* left: 15rem; */
  }
  /* .link{
  padding: 1.5rem;
    width: 100%;
    display: table;
} */
  /* .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  } */
}

.loading-container {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(63, 219, 144);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}